<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head (pageTitle ='All Tasks')"></head>
<body>
<header th:replace="partials :: header"></header>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">

                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/teams">Search Teams</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/teams/my-teams">View My Teams</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/team/create">Create A Team</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">FAQ</a>
                    </li>

                    <li class="nav-item">
                        <form th:action="@{/logout}" th:method="post">
                            <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                        </form>
                    </li>

                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <div class="container">

                <div class="my-2">
                    <a th:href="@{'/project/' + ${project.id}}" class="btn btn-outline-info">Back to <span th:text="${project.name}"></span></a>
                </div>

                <div class="card w-50 my-3" th:each="task : ${tasks}">

                    <div class="card-header text-center font-weight-bold" th:text="${task.title}"></div>
                    <div class="card-body">
                        <p th:text="${task.description}"></p>
                        <p th:if="${task.getStateOfCompletion().getId()} == 1">Task State: Not started</p>
                        <p th:if="${task.getStateOfCompletion().getId()} == 2">Task State: In progress</p>
                        <p th:if="${task.getStateOfCompletion().getId()} == 3">Task State: Complete</p>
                        <p th:text="'Assigned to: ' + ${task.getUser().firstName} + ' ' + ${task.getUser().lastName}"></p>
                        <a th:href="@{'/project/'+ ${projectID} + '/task/' + ${task.id} + '/edit'}" class="btn btn-outline-danger">Edit Task</a>

                        <a th:href="@{'/project/'+ ${projectID} + '/task/' + ${task.id} + '/delete'}" class="btn btn-danger">Delete Task</a>


                    </div>

                </div>


            </div>

        </main>
    </div>
</div>


<footer th:replace="partials :: footer"></footer>
</body>
</html>