<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head th:replace="partials :: head (pageTitle ='Create Task')"></head>
<body>
<header th:replace="partials :: header"></header>

<div class="container">

    <form th:method="post" th:action="@{'/task/create/' + ${projectId}}" th:object="${task}">
        <div class="form-group">
            <input th:field="*{title}" type="text" class="form-control" id="title" name="task" required autofocus>
            <label for="title">Title</label>
        </div>
        <div class="form-group">
            <input th:field="*{description}" type="text" class="form-control" id="description" name="task" required>
            <label for="description">Description</label>
        </div>
        <div class="form-group">
            <!--input for assigned to-->

            <div class="dropdown">
                <h5>Assigned to:</h5>
                <div class="form-check form-check-inline">
                    <div th:each="user : ${users}">
                        <input class="form-check-input" type="checkbox" name="userId" th:text="${user.username}" th:value="${user.id}" required>
                    </div>
                </div>
            </div>

        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

<footer th:replace="partials :: footer"></footer>
</body>
</html>