<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head (pageTitle ='Edit Task')"></head>
<body>
<header th:replace="partials :: header"></header>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="partials :: sidenav"></nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <div class="container d-flex flex-column align-items-center">

                <div class="my-4">
                    <a th:href="@{'/project/' + ${projectID.id} + '/all-tasks'}" class="btn btn-outline-info">Back to All Tasks</a>
                </div>

                <div class="h3">EDIT TASK</div>

                <div class="w-25">
                    <hr>
                </div>

                <form class="w-75" th:method="post" th:action="@{'/project/' + ${projectID.id} + '/task/' + ${task.id} + '/edit'}" th:object="${task}">
                    <div class="form-group">
                        <input th:field="*{title}" th:value="${task.title}" type="text" class="form-control" id="title" name="task"  required autofocus>
                    </div>
                    <div class="form-group">
                        <input th:field="*{description}" th:value="${task.description}" type="text" class="form-control" id="description" name="task" required>
                    </div>
                    <div class="form-group">
                        <!--input for assigned to-->

                        <div class="dropdown">
                            <h5>Assign to:</h5>
                            <div class="form-check form-check-inline">
                                <div th:each="user : ${users}">
                                    <input class="form-check-input mx-2" type="radio" name="userId" th:text="${user.firstName} + ' ' + ${user.lastName}" th:value="${user.id}">
                                </div>
                            </div>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-outline-info">Edit</button>
                </form>
            </div>

        </main>
    </div>
</div>


<footer th:replace="partials :: footer"></footer>
</body>
</html>