<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head (pageTitle ='Account Confirmed!')">
</head>
<body>
<header th:replace="partials :: header"></header>
<div>
    <div class="alert alert-success reg-verified">Your Account has been confirmed!</div>
    <p class="admin-msg-two">*redirecting you to login*</p>
</div>
<footer th:replace="partials :: footer"></footer>
<script type = "text/javascript">
    setTimeout(function(){
        window.location.href = "https://remote-start.io/login";
    }, 5000);
</script>
</body>
</html>
