<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head (pageTitle ='Sign Up')">

</head>
<body>
    <header th:replace="partials :: header"></header>
    <form th:action="@{/sign-up}" method="POST" th:object="${user}">
        <h1>Create an account</h1>
        <label for="username">Username</label>
        <input id="username" th:field="*{username}" />

        <label for="email">Email</label>
        <input id="email" th:field="*{email}" />

        <label for="first-name">First Name</label>
        <input id="first-name" th:field="*{firstName}" />

        <label for="last-name">Last Name</label>
        <input id="last-name" th:field="*{lastName}" />

        <label for="password">Password</label>
        <input id="password" type="password" th:field="*{password}" />

        <input value="Sign me up!" type="submit" />
    </form>
    <footer th:replace="partials :: footer"></footer>
</body>
</html>
