<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head (pageTitle ='Registration Success')">

</head>
<body>
<header th:replace="partials :: header"></header>
<div>
    <div class="alert alert-success reg-complete" th:text="'A verification email has been sent to: ' + ${email}"></div>
        <p class="admin-msg-one">*Admin: Once verified, you will have access to the sites features. Thank you for signing up!*</p>

</div>
<footer th:replace="partials :: footer"></footer>
</body>
</html>
