body {
    padding-top: 40px;
    font-family: 'Oxygen', sans-serif;
    color: #0D1821;
    /*background-color: #b1bdc5;*/
    background-color: #F0F3F5;
}

.bg-light {
    background-color: #97a6b52b !important;
}

.sidebar {
    position: fixed;
    height: 100%;
}

.user-search-bar {
    position: fixed;
    height: 100%;
}

/*Removing logout form styling*/
.logout-form-button {
    margin: 0;
    padding: 0;
}


.cardtitle p{
    font-size: 4em;
}

.card{
    border: none;
}

.parent-one h5{
    font-size: 3em;
    color: #0157B3;
}

.parent-one p{
    font-size: 2.5em;
}

div.info {
    font-size: 1.5em;
    margin-right: 80%;
}

.parent-one {
    display: flex;
    padding-left: 1%;
}

.parent-one div {
    font-size: 1.3em;
    color: #0157B3;
}

.parent-one p {
    font-size: 1.3em;
    padding-left: 20px;
}

.parent-two {
    display: flex;
    padding-left: 1%;
}

.parent-two div {
    font-size: 1.3em;
    color: #0157B3;
}

.parent-two p {
    font-size: 1.3em;
    padding-left:  20px;
}

.login-body {
    height: 100%;
}

.landing-html {
    height: 100%;
}

.landing-body {
    background-image: url("../images/meeting.jpg");
    background-size: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.login-body>body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.about {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

.about-div {
    width: 100%;
    max-width: 72rem;
    padding: 15px;
    margin: auto;
}

.task-cards {
    height: 60vh;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
    height: 3.125rem;
    padding: .75rem;
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
}

.team-name {
    font-size: 5em;
}

.main {
    height: 95vh;
}

.team-project-div {
    height: 30vh;
}

.project-name {
    font-size: 5em;
}

.edit-btn {
    background-color: #5e2ca5;
    color: whitesmoke;
    border-radius: 9999px;
    padding: .4rem 1rem;
    margin-bottom: .4rem;
    cursor: pointer;
}
.edit-btn:hover{
    transition: color .40s ease-out;
    color: lime;
}

.change-btn {
    background-color: red;
    color: white;
    border-radius: 9999px;
    padding: .4rem 1rem;
    margin-bottom: .4rem;
    cursor: pointer;
}
.change-btn:hover{
    transition: color .20s ease-out;
    color: gold;
}

.btn {
    border-radius: 9999px;
}

.create-team-div {
    height: 90vh;
}

.btn-outline-info {
    background-color: #85ccff !important;
    color: #0D1821 !important;
}

.reg-complete{
    display: flex;
    margin: 20% 10% 1% 10%;
    font-size: 2em;
}

.admin-msg-one {
    display: flex;
    color: red;
    font-size: 12px;
    margin: 1% 0 0 10%;
}

.reg-verified{
    display: flex;
    margin: 20% 10% 1% 10%;
    font-size: 2em;
}

.admin-msg-two {
    display: flex;
    color: red;
    font-size: 12px;
    margin: 1% 0 0 10%;
}

.protect-tm-srch {
    margin-left: 25%;
    overflow: auto;
    height: 70vh;
}

.protect-my-teams {
    overflow: auto;
    height: 70vh;
}