body {
    padding-top: 50px;
}

.sidebar {
    position: fixed;
    height: 100%;
}

.logout-form-button {
    margin: 0;
    padding: 0;
}

.cardtitle p{
    font-size: 4em;
}

.card{
    border: none;
}

.card-body h5{
    font-size: 3em;
    color: #0157B3;
}

.card-body p{
    font-size: 2.5em;
}

.card-body label{
    font-size: 2em;
}

div.info {
    font-size: 1.5em;
    margin-right: 80%;
}

.parent {
    display: inline-block;
    margin-right: 78%;
    padding-left: 0;
}

.parent p {
    font-size: 1.3em;
    display: inline-block;
    color: #0157B3;
}

.parent span {
    font-size: 1.3em;
    display: inline-block;
    padding-right: 20%;
}

.parent-two {
    display: inline-block;
    margin-right: 80%;
    padding-left: 0;
}

.parent-two p {
    font-size: 1.3em;
    display: inline-block;
    color: #0157B3;
}

.parent-two span {
    font-size: 1.3em;
    display: inline-block;
    padding-right: 39%;
}