<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head (pageTitle ='Change Password')">

</head>
<body>
<div class="container">
    <form th:action="@{'/change-password-form'}" method="post">
        <div class="form-group">
            <label for="password">New Password:</label>
            <input class="form-control" id="password" name="password" type="password" autofocus required>
            <input type="hidden" th:value="${user.id}" name="user-id">
            <br>
            <button class="btn btn-primary btn-sm" type="submit">Submit</button>
        </div>
    </form>
</div>

</body>
</html>