<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head (pageTitle ='Change Password')">

</head>
<body>
<div class="container">
    <form th:action="@{'/profile' + ${user.id} + '/change-password'}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="password">New Password:</label>
            <input th:field="*{password}" class="form-control" id="password" placeholder="new password" autofocus required>
        </div>
    </form>
</div>

</body>
</html>