<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head (pageTitle ='password change request sent')">

</head>
<body>
<header th:replace="partials :: header"></header>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="partials :: sidenav"></nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <div>
                <div>
                    <p> A change password email has been sent to you, please check your spam folder if it does not show up right away</p>
                </div>
            </div>

        </main>
    </div>
</div>
    <a th:href="@{'/profile'}" class="btn btn-outline-info" style="margin-left: 40%;">Back</a>
<footer th:replace="partials :: footer"></footer>
</body>
</html>
