<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="landing-html">
<head th:replace="partials :: head (pageTitle ='remoteSTART')">

</head>
<body class="landing-body landing-html">
    <div class="form-signin">
        <h1>Use RemoteSTART to plan your project!</h1>
        <a th:href="@{/login}" class="text-center btn btn-outline-secondary btn-sm">Login</a>
        <a th:href="@{/sign-up}" class="text-center btn btn-outline-danger btn-sm">Sign up</a>
    </div>
    <footer th:replace="partials :: footer"></footer>
</body>
</html>