<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="login-body">
<head th:replace="partials :: head (pageTitle ='Login')">
</head>
<body class="login-body">
<header th:replace="partials :: header"></header>
<form th:action="@{/login}" method="post" class="form-signin">
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Log In</h1>
    </div>
    <div th:if="${param.error}">
        Invalid Username and Password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <div class="form-label-group">
        <input id="username" name="username" type="text" class="form-control" required autofocus/>
        <label for="username">Username</label>
    </div>
    <div class="form-label-group">
        <input id="password" name="password" type="password" class="form-control" required/>
        <label for="password">Password</label>
    </div>
    <input type="submit" class="btn btn-lg btn-outline-info btn-block" value="Log In" />
    <a th:href="@{'/reset-password'}" class="btn btn-outline-danger btn-lg btn-block">Forgot password?</a>
</form>
<footer th:replace="partials :: footer"></footer>
</body>
</html>
