<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head (pageTitle ='Login')">

</head>
<body>
<header th:replace="partials :: header"></header>
<h1>Log In</h1>
<div th:if="${param.error}">
    Invalid Username and Password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<form th:action="@{/login}" method="post">
    <label for="username" >Username</label>
    <input id="username" name="username" type="text" required autofocus/>
    <label for="password">Password</label>
    <input id="password" name="password" type="password" required/>
    <input type="submit" value="Log In" />
</form>
<form th:action="@{'/reset-password'}" method="get">
    <button class="btn btn-outline-danger btn-sm" type="submit">Forgot Password</button>
</form>

<footer th:replace="partials :: footer"></footer>

</body>
</html>
