<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head (pageTitle ='Password Reset')">

</head>
<body>
<header th:replace="partials :: header"></header>
<h1>Enter username to reset password</h1>
<form th:method="post" th:action="@{'/reset-password'}">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Example: CloneWarChamp" required autofocus>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<footer th:replace="partials :: footer"></footer>

</body>
</html>