<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head (pageTitle ='Profile')">

</head>
<body>
<header th:replace="partials :: header"></header>
<div class="container-fluid">
    <div class="row">
        <nav th:replace="partials :: sidenav"></nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">


            <div class="card text-center mt-5" style="display: flex; width: 80%; margin-left: 10%; background-color: #F0F3F5;">
                <div class="card-header.bg-light h1">
                    <p th:text="${user.firstName + ' ' + user.lastName}"></p>
                    <hr>
                </div>
                <div class="info">
                    Profile information:
                </div>
                <p></p>
                <div class="card-body parent-one">
                    <div class="child">Username:</div>
                    <p class="card-title child" th:text="${user.username}"></p>
                </div>
                <div class="parent-two">
                    <div class="child-two">Email:</div>
                    <p class="card-text child-two" th:text="${user.email}"></p>
                </div>
                </div>
                <p></p>
            <br>
                <div class="card-footer.bg-light text-muted btn-grp">

                    <div class="dropdown text-center">
                            <button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Profile Options
                            </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <form th:action="@{'/profile/' + ${user.id} +'/edit-profile'}" method="get">
                        <button class="dropdown-item" type="submit">Edit profile information</button>
                    </form>

                    <form th:action="@{'/profile/' + ${user.id} + '/change-password'}" method="get">
                        <button class="dropdown-item text-danger" type="submit">Change password</button>
                    </form>
                        </div>
                </div>

                </div>
        </main>
    </div>
</div>
<footer th:replace="partials :: footer"></footer>
</body>

</html>