<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head (pageTitle ='Profile')">

</head>
<body>
    <header th:replace="partials :: header"></header>
<!--           ===========  OLD WAY =========-->
    <div class="container-fluid">
        <div class="row">
            <nav th:replace="partials :: sidenav"></nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

<!--                <div>-->
<!--                    <h5>Username:</h5>-->
<!--                    <p th:text="${user.username}"></p>-->
<!--                    <h5>Name:</h5>-->
<!--                    <p th:text="${user.firstName + ' ' + user.lastName}"></p>-->
<!--                    <h5>Email:</h5>-->
<!--                    <p th:text="${user.email}"></p>-->
<!--                </div>-->
<!--                <form th:action="@{'/profile/' + ${user.id} +'/edit-profile'}" method="get">-->
<!--                    <button class="btn btn-outline-warning btn-sm" type="submit">Edit profile information</button>-->
<!--                </form>-->

<!--                <form th:action="@{'/profile/' + ${user.id} + '/change-password'}" method="get">-->
<!--                    <button class="btn btn-outline-danger btn-sm" type="submit">Change password</button>-->
<!--                </form>-->

<!--            </main>-->
<!--        </div>-->
<!--    </div>-->

    <div class="card text-center">
        <div class="card-header">
            <p th:text="${user.username}"></p>
        </div>
        <div class="card-body">
            <h5 class="card-title" th:text="${user.firstName + ' ' + user.lastName}"></h5>
            <p class="card-text" th:text="${user.email}"></p>

            <form th:action="@{'/profile/' + ${user.id} +'/edit-profile'}" method="get">
                <button class="btn btn-outline-warning btn-sm" type="submit">Edit profile information</button>
            </form>
        </div>
        <div class="card-footer text-muted">
            <form th:action="@{'/profile/' + ${user.id} + '/change-password'}" method="get">
                <button class="btn btn-outline-danger btn-sm" type="submit">Change password</button>
            </form>
        </div>
    </div>



    <footer th:replace="partials :: footer"></footer>

</body>
</html>