<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head (pageTitle ='Create Team')"></head>
<body>
<header th:replace="partials :: header"></header>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="partials :: sidenav"></nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <form th:method="post" th:action="@{/team/create}" th:object="${team}">
                <div class="form-group">
                    <input th:field="*{name}" type="text" class="form-control" id="team" placeholder="Team Name" required>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>

        </main>
    </div>
</div>

<footer th:replace="partials :: footer"></footer>
</body>
</html>