<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head (pageTitle ='Create Team')"></head>
<body>
<header th:replace="partials :: header"></header>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">

                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/teams">Search Teams</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/teams/my-teams">View My Teams</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/team/create">Create A Team</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">FAQ</a>
                    </li>

                    <li class="nav-item">
                        <form th:action="@{/logout}" th:method="post">
                            <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                        </form>
                    </li>

                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <form th:method="post" th:action="@{/team/create}" th:object="${team}">
                <div class="form-group">
                    <input th:field="*{name}" type="text" class="form-control" id="team" placeholder="Team Name" required>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>

        </main>
    </div>
</div>

<footer th:replace="partials :: footer"></footer>
</body>
</html>