<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head (pageTitle ='Team Page')"></head>
<body>
<header th:replace="partials :: header"></header>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="partials :: sidenav"></nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <div class="container-fluid d-flex flex-column align-items-center">
                <div class="h1 mt-5 mb-3">Team Search</div>
                <div class="w-75">
                    <hr>
                </div>
                <div class="w-100">
                    <form class="d-flex justify-content-center w-100 mb-3">
                        <input type="text" id="team-search" name="team-search" class="form-control w-50"
                               placeholder="Team Name" onkeyup="updateTeams(this)">
                    </form>
                </div>
                <script th:inline="javascript">
                    let teams = [[${teams}]];
                    let teamsId = [[${teamIds}]]
                </script>
                <div class="protect-tm-srch w-100">
                    <div class="w-75 d-flex flex-column align-items-center" id="test"></div>
                </div>
            </div>
        </main>
    </div>
</div>

<footer th:replace="partials :: footer"></footer>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>