<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head (pageTitle ='Team Page')"></head>
<body>
<header th:replace="partials :: header"></header>

<div class="container">

    <div class="card w-50 my-3">


        <div class="card-header text-center font-weight-bold" th:text="${team.name}"></div>
        <div class="card-body">
            <p>Card Body</p>
            <th:block sec:authorize="isAuthenticated()">
            <a th:href="@{'/project/create/' + ${team.id}}">Create a Project</a>
            </th:block>
        </div>

        <div class="dropdown">

            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Users
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div th:each="user : ${users}">

                    <a class="dropdown-item" th:text="${user.username}" th:href="@{'/team/' + ${team.id} + '/add/' + ${user.id}}"></a>

                </div>
            </div>
        </div>

    </div>

    <div class="card w-50 my-3" th:each="project : ${projects}">

        <div class="card-header text-center font-weight-bold" th:text="${project.name}"></div>
        <div class="card-body">
            <p th:text="${project.description}"></p>
            <a th:href="@{'/project/' + ${project.id}}"></a>
        </div>


    </div>

</div>

<footer th:replace="partials :: footer"></footer>
</body>
</html>