<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head (pageTitle ='Edit Project')"></head>
<body>
<header th:replace="partials :: header"></header>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="partials :: sidenav"></nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <div class="container d-flex flex-column align-items-center">

                <div class="my-4">
                    <a th:href="@{'/project/' + ${project.id}}" class="btn btn-outline-info">Back to <span th:text="${project.name}"></span></a>
                </div>

                <div class="h3">EDIT PROJECT</div>

                <div class="w-25">
                    <hr>
                </div>

                <form class="w-75" th:action="@{'/project/' + ${project.id} + '/edit'}" th:method="post" th:object="${project}">
                    <div class="form-group">
                        <input th:field="*{name}" type="text" class="form-control my-2" id="project-name" th:value="${project.name}" required autofocus>
                        <textarea th:field="*{description}" class="form-control" id="project-description" th:value="${project.description}" required></textarea>
                        <label for="project-start" class="mt-2">Project Start</label>
                        <input th:field="*{startDate}" type="date" class="form-control" id="project-start" required>
                        <label for="project-deadline" class="mt-2">Project Deadline</label>
                        <input th:field="*{deadline}" type="date" class="form-control" id="project-deadline" required>
                    </div>
                    <button type="submit" class="btn btn-outline-info">Edit</button>
                </form>


            </div>

        </main>
    </div>
</div>


<footer th:replace="partials :: footer"></footer>
</body>
</html>