<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head (pageTitle ='Project Page')"></head>
<body>
<header th:replace="partials :: header"></header>

<div class="container">

    <div class="card w-50 my-3">


        <div class="card-header text-center font-weight-bold" th:text="${project.name}"></div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:text="${project.description}"></li>
        </ul>
            <a class="btn btn-outline-info align-self-start" href="/task">View Tasks</a>
            <a class="btn btn-outline-info align-self-start" href="/task/create">Create Task</a>
    </div>

</div>

<footer th:replace="partials :: footer"></footer>
</body>
</html>