<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head (pageTitle =${project.name})"></head>
<body>
<header th:replace="partials :: header"></header>

<div class="container">

    <div class="my-5">
        <div class="progress" style="height: 20px;">
            <div class="progress-bar" role="progressbar" th:style="'width:' + ${completionPercentage} +'%;'" th:aria-valuenow="${completionPercentage}" aria-valuemin="0" aria-valuemax="100" th:text="${completionPercentage} + '%'"></div>
        </div>
    </div>

    <div class="card w-50 my-3">


        <div class="card-header text-center font-weight-bold" th:text="${project.name}"></div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:text="${project.description}"></li>
            <li class="list-group-item" th:text="'Start Date: ' + ${project.startDate}"></li>
            <li class="list-group-item" th:text="'Deadline: ' + ${project.deadline}"></li>
        </ul>

            <a class="btn btn-outline-info align-self-start" th:href="@{'/project/' + ${project.id} + '/'+ ${user.id}}">View My Tasks</a>

        <!--Team Leader Links-->
        <div th:if="${role == 1}">

            <a class="btn btn-outline-info align-self-start" th:href="@{'/task/create/' + ${project.id}}">Create Task</a>

            <a class="btn btn-outline-info align-self-start" th:href="@{'/project/' + ${project.id} + '/all-tasks'}">View All Tasks</a>

            <form th:action="@{'/project/' + ${project.id} + '/edit'}" th:method="get">
                <button type="submit" class="btn btn-outline-danger">Edit Project</button>
            </form>

            <form th:action="@{'/project/' + ${project.id} + '/delete'}" th:method="post">
                <button type="submit" class="btn btn-danger">Delete Project</button>
            </form>

            <a th:href="@{'/project/' + ${project.id} + '/complete'}" class="btn btn-primary">Complete Project</a>

        </div>
    </div>

</div>

<footer th:replace="partials :: footer"></footer>
</body>
</html>