<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head (pageTitle ='Projects Page')"></head>
<body>
<header th:replace="partials :: header"></header>

<div class="container-fluid d-flex flex-column">

    <div th:each="project : ${projects}" class="w-100 d-flex justify-content-center">
        <div class="card w-50 my-3" style="width: 18rem;">
            <div class="card-header text-center font-weight-bold" th:text="${project.name}"></div>
            <div class="card-header text-center font-weight-bold" th:text="${project.description}"></div>
            <div class="card-body d-flex flex-column">
                <a th:href="@{/project/{id}(id=${project.id})}" class="btn btn-outline-info align-self-end">View Project</a>
            </div>

        </div>
    </div>
</div>

<footer th:replace="partials :: footer"></footer>
</body>
</html>