<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head (pageTitle ='DEFAULT')"></head>
<body>
<header th:replace="partials :: header"></header>

<div class="container">

    <form th:method="post" th:action="@{'/subtask/create/' + ${project.id} + '/' + ${task.id}}" th:object="${subtask}">
        <div class="form-group">
            <input th:field="*{title}" type="text" class="form-control" id="title" placeholder="Title" required autofocus>
        </div>
        <div class="form-group">
            <input th:field="*{description}" type="text" class="form-control" id="description" placeholder="Description" required>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>

</div>

<footer th:replace="partials :: footer"></footer>
</body>
</html>