<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head (pageTitle ='DEFAULT')"></head>
<body>
<header th:replace="partials :: header"></header>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="partials :: sidenav"></nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <div class="container d-flex flex-column align-items-center">

                <div class="my-4">
                    <a th:href="@{'/project/' + ${project.id} + '/' + ${user.id}}" class="btn btn-outline-info">Back to My Tasks</a>
                </div>

                <div class="h3">EDIT SUBTASK</div>

                <div class="w-25 mb-3">
                    <hr>
                </div>

                <form class="w-75" th:method="post" th:action="@{'/subtask/' + ${subtask.id} + '/edit/' + ${project.id}}" th:object="${subtask}">
                    <div class="form-group">
                        <input th:field="*{title}" type="text" class="form-control" id="title" th:value="${subtask.title}" required autofocus>
                    </div>
                    <div class="form-group">
                        <input th:field="*{description}" type="text" class="form-control" id="description" th:value="${subtask.description}" required>
                    </div>
                    <button type="submit" class="btn btn-outline-info">Edit</button>
                </form>


            </div>

        </main>
    </div>
</div>


<footer th:replace="partials :: footer"></footer>
</body>
</html>